.App {
  height: 100%;
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-rows: 5rem calc(100% - 12rem) 5rem;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;
  grid-template-areas:
  "s s h h h h h h h h h h"
  "s s c c c c c c c c c c"
  "f f f f f f f f f f f f";
}

.App-title{
}

.App-header{
  grid-area: h;
  box-shadow: 2px 2px 2px 2px var(--blue);
}

.App-main{
  grid-area: c;
  overflow: auto;
}

.App-side{
  grid-area: f;
}

.App-nav{
  grid-area: s;
}